body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #333;
    color: white;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    flex: 1;
    text-align: center;
    width: 100%;
}

header {
    background-color: #444;
    padding: 20px 0;
    width: 100%;
}

header h1 {
    margin: 0;
    font-size: 3.5em;
}

.h2{
    text-align: center;
}

.backBtn {
    padding: 10px 20px; /* Отступы внутри кнопки */
            font-size: 16px; /* Размер шрифта */
            color: white; /* Цвет текста */
            background-color:  #ff6600; /* Цвет фона кнопки */
            border: none; /* Убираем рамку */
            border-radius: 5px; /* Скругление углов */
            cursor: pointer; /* Курсор при наведении */
            margin-left: 350px;
            margin-top: 10px;
            
}


.navigation {
    margin: 20px 0;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.navigation button {
    background-color: #555;
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.navigation button:hover {
    background-color: #777;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    flex: 1;
}

#mapContainer {
    width: 800px;
    max-width: 90%;
    margin: 20px auto;
}

.hidden {
    display: none;
}

#content {
    padding: 20px;
    background: #444;
    border-radius: 10px;
    margin-top: 10px;
    width: 800px;
    max-width: 90%;
    text-align: left;
}

/* Стили для футера */
footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
    position: relative;
    width: 100%;
}

footer p {
    margin: 0;
}

.container1 {
    display: flex; /* Используем flexbox для горизонтального расположения */
    justify-content: center; /* Центрируем блоки */
    gap: 20px; /* Расстояние между изображениями */
}
.image-block {
    border: 1px solid #ccc; /* Граница вокруг блока с изображением */
    padding: 5px; /* Отступы внутри блока */
    text-align: center; /* Выравнивание текста по центру */
    overflow: hidden;
}
img {
    max-width: 100%; /* Ширина изображения не больше ширины блока */
    height: auto; /* Высота пропорциональна ширине */
    object-fit: cover; 
}

.container2 {
    display: flex; /* Используем flexbox для горизонтального расположения */
    justify-content: center; /* Центрируем блоки */
    gap: 20px; /* Расстояние между изображениями */
}
.image-block {
    border: 1px solid #ccc; /* Граница вокруг блока с изображением */
    padding: 5px; /* Отступы внутри блока */
    text-align: center; /* Выравнивание текста по центру */
    overflow: hidden;
}
img {
    max-width: 100%; /* Ширина изображения не больше ширины блока */
    height: auto; /* Высота пропорциональна ширине */
    object-fit: cover; 
}

.container3 {
    display: flex; /* Используем flexbox для горизонтального расположения */
    justify-content: center; /* Центрируем блоки */
    gap: 20px; /* Расстояние между изображениями */
}
.image-block {
    border: 1px solid #ccc; /* Граница вокруг блока с изображением */
    padding: 5px; /* Отступы внутри блока */
    text-align: center; /* Выравнивание текста по центру */
}
img {
    max-width: 100%; /* Ширина изображения не больше ширины блока */
    height: auto; /* Высота пропорциональна ширине */
    object-fit: cover; 
}

.button {
    padding: 10px 20px; /* Отступы внутри кнопки */
    font-size: 16px; /* Размер шрифта */
    background-color: #555; /* Цвет текста */
    background-color: #007BFF; /* Цвет фона кнопки */
    border: none; /* Убираем рамку */
    border-radius: 105px; /* Скругление углов */
    cursor: pointer; /* Курсор при наведении */
}

body {
    font-family: Arial, sans-serif;
    background-color: #333;
    color: white;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin-top: 20px;
    font-family: "Shrikhand", serif;
    font-weight: 400;
    font-style: normal;     
    
}

.shrikhand-regular {
    font-family: "Shrikhand", serif;
    font-weight: 400;
    font-style: normal;
  }
  
.cart-container {
    max-width: 600px;
    margin: 0 auto;
    background: #444;
    padding: 20px;
    border-radius: 10px;
}
ul {
    list-style: none;
    padding: 0;
}
li {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}
button {
    background-color: #ff6600;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}
.empty {
    text-align: center;
}


 /* Кнопка корзины в виде круга */
.cart-button {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 70px;
    height: 70px;
    background-color: #333;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 0 10px #444(0, 0, 0, 0.5);
    transition: transform 0.3s ease;
}

h4 {
    font-size: 16px;
  line-height: 25px;
}

h2 {
    text-align: center;
}